.App {
    height: 100vh;
    display:flex;
    align-content: center;
    justify-content: center;
}

body {
    text-align: center;
    width: 100wh;
    height: 100%;
    background: linear-gradient(141deg, #12c2e9, #c471ed, #f64f59);
    background-size: 150% 150%;
 }

 .particles{
     position: absolute;
 }